@import '../../globals.scss';

.menu {
	width: 30rem;
	height: 100vh;
	background-color: $gray-100;
	position: fixed;
	top: -100vh;
	right: 0;
	z-index: 1;
	display: flex;
	flex-direction: column;
	// align-items: center;
	justify-content: center;
	transition: all 1s ease-in-out;

	&.active {
		top: 0;
	}

	ul {
		margin: 0;
		padding: 0;

		li {
			padding: 1rem 0;
			text-align: center;
			list-style: none;

			a {
				font-size: 2.5rem;
				color: $primary-color;
				transition: all 0.4s ease-in-out;

				&:hover {
					color: $accent-color;
				}
			}
		}
	}
}
