* { margin: 0; padding: 0; box-sizing: border-box; overflow-x: hidden; }

body { font-family: 'Roboto', sans-serif; }

html { font-size: 62.5%; }

a { text-decoration: none; }

.app { height: 100vh; overflow-x: hidden; }

.app .sections { width: 100%; height: calc(100vh - 6rem); background-color: aqua; position: relative; top: 6rem; }

.app .sections > * { width: 100vw; height: calc(100vh - 6rem); }
