* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}

body {
	font-family: 'Roboto', sans-serif;
	scroll-behavior: smooth;
}

html {
	font-size: 62.5%;
}

a {
	text-decoration: none;
}

.app {
	height: 100vh;

	.sections {
		width: 100%;
		height: calc(100vh - 8rem);
		background-color: aqua;
		position: relative;
		top: 8rem;

		> * {
			width: 100vw;
			height: calc(100vh - 8rem);
		}
	}
}
